<html>

<head>
  <title>Jolly Jolt | Find</title>
  <link rel="stylesheet" href="{{url_for('static',filename='/css/templatemo-chain-app-dev.css')}}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{{url_for('static',filename='css/find_friends.css')}}"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
  <script src="{{url_for('static',filename='/js/custom.js')}}"></script>
  <script src="{{url_for('static',filename='/vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{url_for('static',filename='/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{url_for('static',filename='/js/owl-carousel.js')}}"></script>
  <script src="{{url_for('static',filename='/js/animation.js')}}"></script>
  <script src="{{url_for('static',filename='/js/imagesloaded.js')}}"></script>
  <script src="{{url_for('static',filename='/js/popup.js')}}"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

  <title>Chain App Dev - App Landing Page HTML5 Template</title>

  <!-- Bootstrap core CSS -->

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="{{url_for('static',filename='/vendor/aos/aos.css')}}" rel="stylesheet">
<link href="{{url_for('static',filename='/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
<link href="{{url_for('static',filename='/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
<link href="{{url_for('static',filename='/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
<link href="{{url_for('static',filename='/vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
<link href="{{url_for('static',filename='/vendor/remixicon/remixicon.css')}}" rel="stylesheet">
<link href="{{url_for('static',filename='/vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="{{url_for('static',filename='/css/style.css')}}" rel="stylesheet">
  <!-- Vendor JS Files -->
<script src="{{url_for('static',filename='/vendor/purecounter/purecounter_vanilla.js')}}"></script>
<script src="{{url_for('static',filename='/vendor/aos/aos.js')}}"></script>
<script src="{{url_for('static',filename='/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
<script src="{{url_for('static',filename='/vendor/glightbox/js/glightbox.min.js')}}"></script>
<script src="{{url_for('static',filename='/vendor/swiper/swiper-bundle.min.js')}}"></script>
<script src="{{url_for('static',filename='/vendor/php-email-form/validate.js')}}"></script>

<!-- Template Main JS File -->
<script src="{{url_for('static',filename='/js/main.js')}}"></script>


<!--

TemplateMo 570 Chain App Dev

https://templatemo.com/tm-570-chain-app-dev

-->

  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="{{url_for('static',filename='/css/templatemo-chain-app-dev.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='/css/animated.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='/css/owl.css')}}">
</head>

<header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <a href="index.html" class="logo">
            <img src="{{url_for('static',filename='/images/logo.png')}}" alt="Chain App Dev" >
          </a>
          <!-- ***** Logo End ***** -->
          <!-- ***** Menu Start ***** -->
          <ul class="nav">
            {% if true %}
            <li class="scroll-to-section">
              <a href="{{url_for('Home')}}" class="active">
              <div style="display: flex; align-items: center;">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAABG0lEQVR4nO2Sv0oDQRDGVwtbK0FLERQEY2Y2xjewMZXpFFLkDQRTpxLEShSMM4ukF3wy4WZW059MQiR4nBvuLCz84IPlm9nf/nVuCXmKx2ZXW8N8FUj6QPF6ZulbVonlKVtH0psmx57L8xWzjS2zGlC8NHv6OEjCWo9vexiUfNB2YaGgbasBZWPbMXLWSewsniLLw9F4slnWYzXrAdLbUuD+S76GFK+QZWDj1Cmm/SwDZB0W+pvP7xvAcgdBzlKg4on0BCnee5pszWCj7BBZX4Gk6yoKSLrGmD6QJ93xQc+Tl/uDkLOOMRos219BXSAuzi8DIuvF/L/NbVl1IMmowXF30ZbVArplMv4H4p+/Q3jSljXWclD/faFf0SfCOCGNTFzLtQAAAABJRU5ErkJggg==">
              <span>Home</span>
            </div>
            </a>
          </li>
            <li class="scroll-to-section">
              <a href="{{url_for ('find_friends')}}">
                <div style="display: flex; align-items: center;">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAACXBIWXMAAAsTAAALEwEAmpwYAAAB80lEQVR4nM2VS08UQRDHZyHRKBJDCCTcNSbLa7p7SQxfARNPPs6iV1AeR4Lx7sEAg1W7ZFmFmGA4wZUvwtFIiBG2une9N6me2XUhG2ZaWLWSTicz1fXrrq76dxD8c1u2XQrqoxLNIwH6Oc+FUn2Ev1859r0PhzfjoHpXgD64OCToXfFRP8vv2Bt/BBiL6oOyqOF30GpZgHkjkV7xLECXW2AQbtQGvAAKqncF0FYSpDyOFLbzK5RICNSbCejzZMn2ZoegeRcDzOrYp+Oey3zzqz/uCKS1xP9tJsA4ng7HC2hvYuV7f5Y1ExXTL0Dv8bpw/SSfukCCmU0gLwIPC7E27SBQnUl1blxouG7u+0AK0c8HjQJJh6DeZ+eH77/d8oEoOLrtIKj3OwixHpC/kS5VNDMxhKZ9IAropesXpNepzlyCzRKumEwlHG7UBholzCfKtCtuqji/tMbNltqMQBH7q6JeCrIaywPLRHKRmwpItvNTQFIAVZoahrQYWJvLDOIUsPA1BZI1CmnOCSTSXGvw1hECzXuBWMIl6qdO0ttL/df4KaDFK4GcLduuQnQ6osBMcVCFtcf8aD3Zsd3uv7U5CWbh/AZowR+UajbH5XsO5HtH/xfIXkgdmu3RSPddLyRwJHciifRFwa+hDgAaHJvr0AkutzP7B6N0tnYAcgAAAABJRU5ErkJggg==">
                <span>Search</span>
              </div>
              </a>
            </li>
            <li class="scroll-to-section">
              <a href="{{url_for('create_event')}}">
              <div style="display: flex; align-items: center;">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAAA50lEQVR4nO3UOwoCMRAA0LXUA4iF2OlWymayijew9QJWnkbw061OQC0UtRc8kO2CmfXXrgz+ChX3IzY6EEI+85gkEMOIGdXOOgmKWoCEJWeXjo0JpB4oqkncFRm9LUo85mCw6QLSRKCevmuAeiGQloxxPvdc6Q1kzOp7+bCVGReMxzx/B5FGH8PCgJbaNkHpuURdf4kFB/0EKBqWx/sMoJ5dMYFeIxJoO64JSq8Y5UqvlcGz3CCgRD/17OEgKvgq4A/+8B12SsorhMVsxzUFUvthQeImx2jQ7+v8hfFealfUIRv1dN+PE3pr2916ygmHAAAAAElFTkSuQmCC">
                <span>Create Event</span>
              </div>
              </a>
            </li>
            <li class="scroll-to-section">
              <a href="{{url_for('notification')}}">
              <div style="display: flex; align-items: center;">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAAA90lEQVR4nO3UsU4CQRAG4JWGllYKtCDYsc4sD0Bpgo8gr0C8AhItNEE7C3INd7PcU/g4vsIlO7uJsT0yAQoLILnVhIJJppni23+nGKX+o7pp1dQZD9G6+zqtMx6KsdFeqwaQX0AeHuqCQG4shlgKCneF5J9if4m5ezb001F9G3pAIYkFgUIi1hmsX3DeYfJnO4SibBsb5rEgWn439H251XkmqLyClh/1glsyHyzLG5kda6TwhpanvyMXZVsiI/mX28xpVVUXYP0HrFxf5ofa7JLti64zvjarMJFLErUHQ2GE5D/B+hRyfxeFbUBGyP2gm35tj+UJ1BpBoP51wUxkdwAAAABJRU5ErkJggg==">
                <span>Message</span>
              </div>
              </a>
            </li>
            <li class="scroll-to-section">
              <a href="{{url_for('profile')}}">
                <div style="display: flex; align-items: center;">
                  <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAACOUlEQVR4nJ1VzWvUQBTPnqrrRVC8KEqh0ovsZmZqrSCuBw+u9qIe1NazqEc/8KMFrXgQRGu6spv3Uqh69T/yKCwe6s682dJz5CVNdjNpbPXBQPLy3m9+7zOet4e0NuIDs7h9gg8/e/8jjW+/DkmkRYm2I9B8kkgv+aTPtqMiWlAQ1/cFpqKtSxIIfLDtuQ8/D7rfWacie1VGbKNbfwXzke4IsK+z0M5+tUdkRPdkqD9KoHcKhhc8L65lwALMGxHSrUpmDObFqUNzwxyWaEKJv+f4guQd6KFE01EwPJo4xXEtAV0fXiznLCIYD1GE9q4PdNm9WIT2vAJ6kBOBfp19CznlAnDOCo5Iz8S6PuUCJmlA87YQHdhrCvTCyBnsZ7cAAum+iHTDBWygmVRAz4uA/TpXP38RQKul0MDclKjnXb0Pg3aBzY4IMEFSTG5YAbTkOeKDeTzTHZxx9awTaB65eoG03PyyfbwSUIE9x63i6pP2iWi2BAi0xFiVISfOSK9mupvTI3ab06zbzVZkIVcVhSVhjxSMhRUkLErR9EdF2WGyyOPkGvKNEuzaKFy7ttuCkKjnC4XKGptvSjVxjVtGIL2XaK7nDENzg3V+TzezEVTMDpzGzkcPzYoI6QobSDRP/Z497bJhnQT7JF0Og3bqo4ujN0os3ZZA3xvdrWPeHsI2bCuqlkPOAHSLlwLndCr4MeF+nwriCR41CaZXyax0+/iCBVqVQC/4pAvW/NuCdYWrqkCf5LOfX8Afd99k0lfBrPgAAAAASUVORK5CYII=">
                  <span>Profile</span>
                </div>

              </a></li>
            {% else %}
            <li><div class="gradient-button"><a id="modal_trigger" href="{{url_for('signup_login')}}"><i class="fa fa-sign-in-alt"></i> Sign In Now</a></div></li> 
            {% endif %}
          </ul>        
          <a class="menu-trigger">
              <span>Menu</span>
          </a>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>
</header>
<br>
<br>
<br>
<br>
<br>


{% for i in range(count) %}
<div class="modal fade" id="learnMore{{i}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </br>
      <div class="container">
        <p style="font-weight:bold ; padding-bottom: 20px; font-family:'Times New Roman', Times, serif; color:rgb(19,175,240); font-size: 30px ; text-align: center;">User Details</p>
        <div style="    margin-left: 100px;" class="row">
          <div style="width:340" class="col-sm-8">
            {% if all_user_data['profile_url'][i]!="" %}
             <img height="300" width="300" src="{{all_user_data['profile_url'][i]}}" alt="">
             {% else %}
             <img  src="{{url_for('static',filename='images/default_profile.jpg')}}" alt="" />
             {% endif %}
          </div>
          <div style="width: 400;" class="col-sm-4 align-self-center"> 
            <h5 class="intro-title">Username :  {{all_user_data['username'][i]}} </h5>
            <br>
            <h5 class="intro-title">First Name :  {{all_user_data['first_name'][i]}} </h5>
            <br>
            <h5 class="intro-title">Last Name :  {{all_user_data['last_name'][i]}} </h5>
            <br>
            <h5 class="intro-title">Age :  {{all_user_data['Age'][i]}} </h5>
            <br>

            <h5 class="intro-title">Country :  {{all_user_data['Country'][i]}} </h5>
            <br>
            <h5 class="intro-title">Email :  {{all_user_data['email'][i]}} </h5>
            <!-- <h3> TITLE </h3>
            <p> some other content, some other, content </p> -->
            
          </div>          
        </div>  
      </div>
      <button id='cbtn' class="{{i}}" onclick="send_request('{{ all_user_data['username'][i] }}', '{{ all_user_data['email'][i] }}')" style="background: rgb(19,175,240); margin-left: 460px;
      background: linear-gradient(105deg, rgba(91,104,235,1) 0%, rgba(40,225,253,1) 100%);color:white; padding:5px 20px; font-size: 15; border: 1px solid  rgb(19,175,240);border-radius:30px;">Send Friend Request</button>
      
      </div>
      

    </div>
  </div>
</div>
{% endfor %}
<script>
  function send_request(username,email){
    var requestData = {
      username: username,
      email: email
  };

  fetch('/send_friend_request', {
    method: 'POST', // or 'GET' depending on your backend
    headers: {
        'Content-Type': 'application/json',
    },
    body: JSON.stringify(requestData),
})
.then(response => response.json())
.then(data => {
    // Handle the response data
    if(data['status']==200){
      var url="{{url_for('sucess',data='Request Sent')}}"
      window.location.href = url;
    }
    else{
      var url="{{url_for('error',data='Could not send request',reason='Try to send the request again')}}"
      window.location.href = url;
    }
})
.catch(error => {
    // Handle errors
    console.error('Error sending request:', error);
});
    
  }
</script>
<style>
  @media (min-width: 576px) {
    .modal-dialog {
        max-width: 950px;
    }
  }

</style>
<div id="sandbox">

    <div class="sideb">
      <h2 class="theme-color">Find Friends</h2>
      <p class="text-large theme-color">Join with others :)</p>
      <input class="search" placeholder="Search" />
      <div class="mobFilter"><i class="fas fa-sliders-h"></i></div>
      <div class="porpSection">
        <button class="xbutton">X</button>
        <div class="sortSection">
        <h3>Sort By:</h3>
        <button class="sort" data-sort="jobTitle">
      Sort by User Name
    </button>
        <button class="sort" data-sort="datePosted">
      Sort by Joined Date
    </button>
      </div>
      <div class="filterSection">
        <div class="filter">
          <h3>Filter by Country</h3>
          <select id="location-filter" class="location selectlist">
            {% for i in country %}
            
        <option selected="selected" value="">{{i}}</option>
        
       {% endfor %}
      </select>
        </div>
        <!-- <div class="filter">
          <h3>Filter Opening by Job Type</h3>
          <select id="type-filter" class="jobtypefilter selectlist">
        <option selected="selected" value="">All Job Types</option>
        <option value="Full Time">Full Time</option>
        <option value="Permanent">Permanent</option>
        <option value="Part Time">Part Time</option>
      </select>
        </div> -->
      </div>
    </div>
     </div>
    <div class="listb">
      <ul class="list" id="list">
      </ul>
      <div class="lpagignate"><span class="jPaginateBack page-arrow"><</span>
        <ul class="pagination"></ul><span class="jPaginateNext page-arrow">></span></div>
    </div>
  </div>
  
  </html>
  <style>
    .image{
      width: 20%;
    }
  </style>

  <script>
    // List.js set-up and initialisation

var options = {
    valueNames: [
      "jobTitle",
      "datePosted",
      "jobLocation",
      { attr: "href", name: "applyLink" },
      { attr: "src", name: "image" },
      { attr: "data-target", name: "jobType" } 
    ],
    item:
'<li>' +
  '<img class="image">' +
  '<a class="applyLink">' +
    '<h3 class="jobTitle"></h3>' +
  '</a>' +
  '<div class="bottomBox">' +
    '<div class="left-part">' +
      '<button type="button" class="jobType" data-toggle="modal">View More' +
        '</button>' +
      '<p class="jobLocation"></p>' +
    '</div>' +
    '<div class="dateBox">' +
      '<h5>Joined Date</h5>' +
      '<p class="datePosted"></p>' +
    '</div>' +
    // New button added below
    

    
  '</div>' +
'</li>',

    page: 6,
    pagination: {
      innerWindow: 2,
      left: 1,
      right: 1,
      paginationClass: "pagination"
    }
  };
  
  var values = [
  {% for i in range(count) %}
 
    {
      jobTitle: "{{all_user_data['username'][i]}}",
      jobType:  "#learnMore{{i}}",
      datePosted: "{{all_user_data['Joined_date'][i]}}",
      jobLocation:"{{all_user_data['Country'][i]}}",
      applyLink: "#",
      {% if all_user_data['profile_url'][i]=="" %}

      image: "{{url_for('static',filename='images/default_profile.jpg')}}",

      {% else %}
      image:"{{all_user_data['profile_url'][i]}}"

      {% endif %}
    },
    {% endfor %}

  ];
  
  var userList = new List("sandbox", options, values);
  userList.sort("datePosted", {
    order: "desc"
  });
  
  $(".jPaginateNext").on("click", function() {
    var list = $(".pagination").find("li");
    $.each(list, function(position, element) {
      if ($(element).is(".active")) {
        $(list[position + 1]).trigger("click");
      }
    });
  });
  
  $(".jPaginateBack").on("click", function() {
    var list = $(".pagination").find("li");
    $.each(list, function(position, element) {
      if ($(element).is(".active")) {
        $(list[position - 1]).trigger("click");
      }
    });
  });
  
  $('#type-filter').change(function () {
      var selection = this.value;
      if (selection) {
          userList.filter(function(item) {
              return (item.values().jobType == selection);
          });
      } else {
          userList.filter();
      }
  });
  
  $('#location-filter').change(function () {
      var selection = this.value;
      if (selection) {
          userList.filter(function(item) {
              return (item.values().jobLocation == selection);
          });
      } else {
          userList.filter();
      }
  });
  
  $('.mobFilter').click(function() {
     $('.porpSection').addClass('activeMob');
     $('body').addClass('filterActive')
      
  });
  
  $('.xbutton').click(function(){
     $('.porpSection').removeClass('activeMob');
     $('body').removeClass('filterActive')
  });
  
  $('.selectlist').change(function(){
        $('.porpSection').removeClass('activeMob');
     $('body').removeClass('filterActive')           
  });
  </script>