
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <title>Jolly Jolt | Home</title>

    <!-- Bootstrap core CSS -->

      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{url_for('static',filename='/vendor/aos/aos.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='/vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='/vendor/remixicon/remixicon.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='/vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{url_for('static',filename='/css/style.css')}}" rel="stylesheet">
    <!-- Vendor JS Files -->
  <script src="{{url_for('static',filename='/vendor/purecounter/purecounter_vanilla.js')}}"></script>
  <script src="{{url_for('static',filename='/vendor/aos/aos.js')}}"></script>
  <script src="{{url_for('static',filename='/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{url_for('static',filename='/vendor/glightbox/js/glightbox.min.js')}}"></script>
  <script src="{{url_for('static',filename='/vendor/swiper/swiper-bundle.min.js')}}"></script>
  <script src="{{url_for('static',filename='/vendor/php-email-form/validate.js')}}"></script>

  <!-- Template Main JS File -->
  <script src="{{url_for('static',filename='/js/main.js')}}"></script>


<!--

TemplateMo 570 Chain App Dev

https://templatemo.com/tm-570-chain-app-dev

-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='/css/templatemo-chain-app-dev.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='/css/animated.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='/css/owl.css')}}">

  </head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="index.html" class="logo">
              <img src="{{url_for('static',filename='/images/logo.png')}}" alt="Chain App Dev">
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <style>
              ul.nav li.scroll-to-section a {
                display: flex;
                align-items: center;
              }
              
              ul.nav li.scroll-to-section a img {
                margin-right: 5px; /* Adjust the margin as needed to separate the image and text */
              }
              
              ul.nav li.scroll-to-section a span {
                display: inline-block;
              }
              
            </style>
            <ul class="nav">
              {% if session_bool %}
              <li class="scroll-to-section">
                <a href="{{url_for('Home')}}" class="active">
                <div style="display: flex; align-items: center;">
                  <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAABG0lEQVR4nO2Sv0oDQRDGVwtbK0FLERQEY2Y2xjewMZXpFFLkDQRTpxLEShSMM4ukF3wy4WZW059MQiR4nBvuLCz84IPlm9nf/nVuCXmKx2ZXW8N8FUj6QPF6ZulbVonlKVtH0psmx57L8xWzjS2zGlC8NHv6OEjCWo9vexiUfNB2YaGgbasBZWPbMXLWSewsniLLw9F4slnWYzXrAdLbUuD+S76GFK+QZWDj1Cmm/SwDZB0W+pvP7xvAcgdBzlKg4on0BCnee5pszWCj7BBZX4Gk6yoKSLrGmD6QJ93xQc+Tl/uDkLOOMRos219BXSAuzi8DIuvF/L/NbVl1IMmowXF30ZbVArplMv4H4p+/Q3jSljXWclD/faFf0SfCOCGNTFzLtQAAAABJRU5ErkJggg==">
                <span>Home</span>
              </div>
              </a>
            </li>
              <li class="scroll-to-section">
                <a href="{{url_for ('find_friends')}}">
                  <div style="display: flex; align-items: center;">
                  <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAACXBIWXMAAAsTAAALEwEAmpwYAAAB80lEQVR4nM2VS08UQRDHZyHRKBJDCCTcNSbLa7p7SQxfARNPPs6iV1AeR4Lx7sEAg1W7ZFmFmGA4wZUvwtFIiBG2une9N6me2XUhG2ZaWLWSTicz1fXrrq76dxD8c1u2XQrqoxLNIwH6Oc+FUn2Ev1859r0PhzfjoHpXgD64OCToXfFRP8vv2Bt/BBiL6oOyqOF30GpZgHkjkV7xLECXW2AQbtQGvAAKqncF0FYSpDyOFLbzK5RICNSbCejzZMn2ZoegeRcDzOrYp+Oey3zzqz/uCKS1xP9tJsA4ng7HC2hvYuV7f5Y1ExXTL0Dv8bpw/SSfukCCmU0gLwIPC7E27SBQnUl1blxouG7u+0AK0c8HjQJJh6DeZ+eH77/d8oEoOLrtIKj3OwixHpC/kS5VNDMxhKZ9IAropesXpNepzlyCzRKumEwlHG7UBholzCfKtCtuqji/tMbNltqMQBH7q6JeCrIaywPLRHKRmwpItvNTQFIAVZoahrQYWJvLDOIUsPA1BZI1CmnOCSTSXGvw1hECzXuBWMIl6qdO0ttL/df4KaDFK4GcLduuQnQ6osBMcVCFtcf8aD3Zsd3uv7U5CWbh/AZowR+UajbH5XsO5HtH/xfIXkgdmu3RSPddLyRwJHciifRFwa+hDgAaHJvr0AkutzP7B6N0tnYAcgAAAABJRU5ErkJggg==">
                  <span>Search</span>
                </div>
                </a>
              </li>
              <li class="scroll-to-section">
                <a href="{{url_for('create_event')}}">
                <div style="display: flex; align-items: center;">
                  <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAAA50lEQVR4nO3UOwoCMRAA0LXUA4iF2OlWymayijew9QJWnkbw061OQC0UtRc8kO2CmfXXrgz+ChX3IzY6EEI+85gkEMOIGdXOOgmKWoCEJWeXjo0JpB4oqkncFRm9LUo85mCw6QLSRKCevmuAeiGQloxxPvdc6Q1kzOp7+bCVGReMxzx/B5FGH8PCgJbaNkHpuURdf4kFB/0EKBqWx/sMoJ5dMYFeIxJoO64JSq8Y5UqvlcGz3CCgRD/17OEgKvgq4A/+8B12SsorhMVsxzUFUvthQeImx2jQ7+v8hfFealfUIRv1dN+PE3pr2916ygmHAAAAAElFTkSuQmCC">
                  <span>Create Event</span>
                </div>
                </a>
              </li>
              <li class="scroll-to-section">
                <a href="{{url_for('notification')}}">
                <div style="display: flex; align-items: center;">
                  <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAAA90lEQVR4nO3UsU4CQRAG4JWGllYKtCDYsc4sD0Bpgo8gr0C8AhItNEE7C3INd7PcU/g4vsIlO7uJsT0yAQoLILnVhIJJppni23+nGKX+o7pp1dQZD9G6+zqtMx6KsdFeqwaQX0AeHuqCQG4shlgKCneF5J9if4m5ezb001F9G3pAIYkFgUIi1hmsX3DeYfJnO4SibBsb5rEgWn439H251XkmqLyClh/1glsyHyzLG5kda6TwhpanvyMXZVsiI/mX28xpVVUXYP0HrFxf5ofa7JLti64zvjarMJFLErUHQ2GE5D/B+hRyfxeFbUBGyP2gm35tj+UJ1BpBoP51wUxkdwAAAABJRU5ErkJggg==">
                  <span>Message</span>
                </div>
                </a>
              </li>
              <li class="scroll-to-section">
                <a href="{{url_for('profile')}}">
                  <div style="display: flex; align-items: center;">
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAACOUlEQVR4nJ1VzWvUQBTPnqrrRVC8KEqh0ovsZmZqrSCuBw+u9qIe1NazqEc/8KMFrXgQRGu6spv3Uqh69T/yKCwe6s682dJz5CVNdjNpbPXBQPLy3m9+7zOet4e0NuIDs7h9gg8/e/8jjW+/DkmkRYm2I9B8kkgv+aTPtqMiWlAQ1/cFpqKtSxIIfLDtuQ8/D7rfWacie1VGbKNbfwXzke4IsK+z0M5+tUdkRPdkqD9KoHcKhhc8L65lwALMGxHSrUpmDObFqUNzwxyWaEKJv+f4guQd6KFE01EwPJo4xXEtAV0fXiznLCIYD1GE9q4PdNm9WIT2vAJ6kBOBfp19CznlAnDOCo5Iz8S6PuUCJmlA87YQHdhrCvTCyBnsZ7cAAum+iHTDBWygmVRAz4uA/TpXP38RQKul0MDclKjnXb0Pg3aBzY4IMEFSTG5YAbTkOeKDeTzTHZxx9awTaB65eoG03PyyfbwSUIE9x63i6pP2iWi2BAi0xFiVISfOSK9mupvTI3ab06zbzVZkIVcVhSVhjxSMhRUkLErR9EdF2WGyyOPkGvKNEuzaKFy7ttuCkKjnC4XKGptvSjVxjVtGIL2XaK7nDENzg3V+TzezEVTMDpzGzkcPzYoI6QobSDRP/Z497bJhnQT7JF0Og3bqo4ujN0os3ZZA3xvdrWPeHsI2bCuqlkPOAHSLlwLndCr4MeF+nwriCR41CaZXyax0+/iCBVqVQC/4pAvW/NuCdYWrqkCf5LOfX8Afd99k0lfBrPgAAAAASUVORK5CYII=">
                    <span>Profile</span>
                  </div>

                </a></li>
              <!-- <li><div class="gradient-button"><a id="modal_trigger" href="{{url_for('logout')}}"><i class="fa fa-sign-in-alt"></i>Logout</a></div></li>  -->
              {% else %}
              <li><div class="gradient-button"><a id="modal_trigger" href="{{url_for('signup_login')}}"><i class="fa fa-sign-in-alt"></i> Sign In Now</a></div></li> 
              {% endif %}
            </ul>        
            <a class="menu-trigger">
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->
  
  <div id="modal" class="popupContainer" style="display:none;">
    <div class="popupHeader">
        <span class="header_title">Login</span>
        <span class="modal_close"><i class="fa fa-times"></i></span>
    </div>

    <section class="popupBody">
        <!-- Social Login -->
        <div class="social_login">
            <div class="">
                <a href="#" class="social_box fb">
                    <span class="icon"><i class="fab fa-facebook"></i></span>
                    <span class="icon_title">Connect with Facebook</span>

                </a>

                <a href="#" class="social_box google">
                    <span class="icon"><i class="fab fa-google-plus"></i></span>
                    <span class="icon_title">Connect with Google</span>
                </a>
            </div>

            <div class="centeredText">
                <span>Or use your Email address</span>
            </div>

            <div class="action_btns">
                <div class="one_half"><a href="#" id="login_form" class="btn">Login</a></div>
                <div class="one_half last"><a href="#" id="register_form" class="btn">Sign up</a></div>
            </div>
        </div>

        <!-- Username & Password Login form -->
        <div class="user_login">
            <form>
                <label>Email / Username</label>
                <input type="text" />
                <br />

                <label>Password</label>
                <input type="password" />
                <br />

                <div class="checkbox">
                    <input id="remember" type="checkbox" />
                    <label for="remember">Remember me on this computer</label>
                </div>

                <div class="action_btns">
                    <div class="one_half"><a href="#" class="btn back_btn"><i class="fa fa-angle-double-left"></i> Back</a></div>
                    <div class="one_half last"><a href="#" class="btn btn_red">Login</a></div>
                </div>
            </form>

            <a href="#" class="forgot_password">Forgot password?</a>
        </div>

        <!-- Register Form -->
        <div class="user_register">
            <form>
                <label>Full Name</label>
                <input type="text" />
                <br />

                <label>Email Address</label>
                <input type="email" />
                <br />

                <label>Password</label>
                <input type="password" />
                <br />

                <div class="checkbox">
                    <input id="send_updates" type="checkbox" />
                    <label for="send_updates">Send me occasional email updates</label>
                </div>

                <div class="action_btns">
                    <div class="one_half"><a href="#" class="btn back_btn"><i class="fa fa-angle-double-left"></i> Back</a></div>
                    <div class="one_half last"><a href="#" class="btn btn_red">Register</a></div>
                </div>
            </form>
        </div>
    </section>
</div>

  <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <div class="row">
                  <div class="col-lg-12">
                    <h2>Surprises Await, Smiles Abound</h2>
                    <p>Embrace the thrill, spin the wheel of friendships delight with SurpriseRoulette! Because joy is best when it a surprise for both giver and receive</p>
                  </div>
                  <div class="col-lg-12">
                    <div class="white-button first-button scroll-to-section">
                      <a href="{{url_for('find_friends')}}">Search Friends</a>
                    </div>
                   
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <img src="{{url_for ('static',filename='/images/slider-dec.png')}}" alt="">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!--   <div id="services" class="services section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
            <h4>Amazing <em>Services &amp; Features</em> for you</h4>
            <img src="{{url_for('static',filename='/images/heading-line-dec.png')}}" alt="">
            <p>If you need the greatest collection of HTML templates for your business, please visit <a rel="nofollow" href="https://www.toocss.com/" target="_blank">TooCSS</a> Blog. If you need to have a contact form PHP script, go to <a href="https://templatemo.com/contact" target="_parent">our contact page</a> for more information.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="service-item first-service">
            <div class="icon"></div>
            <h4>App Maintenance</h4>
            <p>You are not allowed to redistribute this template ZIP file on any other website.</p>
            <div class="text-button">
              <a href="#">Read More <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item second-service">
            <div class="icon"></div>
            <h4>Rocket Speed of App</h4>
            <p>You are allowed to use the Chain App Dev HTML template. Feel free to modify or edit this layout.</p>
            <div class="text-button">
              <a href="#">Read More <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item third-service">
            <div class="icon"></div>
            <h4>Multi Workflow Idea</h4>
            <p>If this template is beneficial for your work, please support us <a rel="nofollow" href="https://paypal.me/templatemo" target="_blank">a little via PayPal</a>. Thank you.</p>
            <div class="text-button">
              <a href="#">Read More <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item fourth-service">
            <div class="icon"></div>
            <h4>24/7 Help &amp; Support</h4>
            <p>Lorem ipsum dolor consectetur adipiscing elit sedder williamsburg photo booth quinoa and fashion axe.</p>
            <div class="text-button">
              <a href="#">Read More <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 -->
<!--   <div id="about" class="about-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="section-heading">
            <h4>About <em>What We Do</em> &amp; Who We Are</h4>
            <img src="{{url_for('static',filename='/images/heading-line-dec.png')}}" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eismod tempor incididunt ut labore et dolore magna.</p>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="box-item">
                <h4><a href="#">Maintance Problems</a></h4>
                <p>Lorem Ipsum Text</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="box-item">
                <h4><a href="#">24/7 Support &amp; Help</a></h4>
                <p>Lorem Ipsum Text</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="box-item">
                <h4><a href="#">Fixing Issues About</a></h4>
                <p>Lorem Ipsum Text</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="box-item">
                <h4><a href="#">Co. Development</a></h4>
                <p>Lorem Ipsum Text</p>
              </div>
            </div>
            <div class="col-lg-12">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eismod tempor idunte ut labore et dolore adipiscing  magna.</p>
              <div class="gradient-button">
                <a href="#">Start 14-Day Free Trial</a>
              </div>
              <span>*No Credit Card Required</span>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="right-image">
            <img src="{{url_for('static',filename='/images/about-right-dec.png')}}" alt="">
          </div>
        </div>
      </div>
    </div>
  </div> -->
  
 

  <section id="details" class="details">
      <div class="container">

        <div class="row content">
          <div class="col-md-4" data-aos="fade-right">
            <img src="{{url_for('static',filename='/img/details-1.png')}}" class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-4" data-aos="fade-up">
            <h3>User-Register/Signin</h3>
            <p class="fst-italic" style="color: #212529;">
              
Welcome to "Randomly Surprised" – the ultimate platform for joyous, unexpected moments among friends! Whether you're a fan of spontaneous gifts, heartwarming messages, or delightful experiences, our platform is designed to add a touch of excitement to your relationships.
            </p>
            <ul>
              <li><i class="bi bi-check"></i> Begin your journey by clicking on the "Sign Up" button prominently displayed on our homepage.</li>
              <li><i class="bi bi-check"></i> Input your essential details – your full name, a valid email address, and a secure password.</li>
              <li><i class="bi bi-check"></i>Hit the "Sign Up" or "Create Account" button to submit your registration and officially join the "Randomly Surprised" community.</li>
              <li><i class="bi bi-check"></i>Check your inbox for a verification link.
Click on the link to validate your email address and unlock the full potential of surprises.</li>
<li><i class="bi bi-check"></i>
              Log in to your newly created account and add the finishing touches to your profile, making your surprises even more personalized.
            </li>
            </ul>
            
          </div>
        </div>
        <div class="row content">
          <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
            <img src="{{url_for('static',filename='/img/details-2.png')}}" class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
            <h3>Building Your Friend Community </h3>
            <p>
              Welcome to the heart of "Randomly Surprised" – where friendships flourish, and surprises come to life! Our platform not only connects you with friends but also lets you curate unforgettable moments together.
            </p>
                  <ul>
              <li><i class="bi bi-check"></i> Navigate to the "Find" section on the platform.
Use the search feature to look for your friends by their names or email addresses.</li>
              <li><i class="bi bi-check"></i> Once you've found your friends, send them invitations to connect.Click on the "Connect" or "Send Invitation" button next to their profiles.</li>
              <li><i class="bi bi-check"></i>Your friends will receive the invitations and can choose to accept or decline.</li>
              <li><i class="bi bi-check"></i>Once your friends accept the invitations, you are now connected on "Randomly Surprised</li>
            </ul>
          </div>
        </div>

        <div class="row content">
          <div class="col-md-4" data-aos="fade-right">
            <img src="{{url_for('static',filename='/img/details-3.png')}}" class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-5" data-aos="fade-up">
            <h3>Create Event</h3>
            <p>creating memorable events with your friends is just a few clicks away! Here's a step-by-step guide on how to effortlessly bring your friends together for a surprise-filled occasion</p>
            <ul>
              <li><i class="bi bi-check"></i> Locate and click on the "Create Event" button prominently displayed on the platform.</li>
              <li><i class="bi bi-check"></i> Enter the name of your event in the designated field.
Choose the date for the event to occur using the calendar feature.</li>
              <li><i class="bi bi-check"></i> After entering the event details, click on the "Create" button to proceed.</li>
              <li><i class="bi bi-check"></i> You'll be prompted to select friends to include in the event.Browse through your connected friends and choose those you want to invite.</li>

              <li><i class="bi bi-check"></i> After selecting the friends for your event, click on the "Create" button once again to finalize the event details.</li>

              <li><i class="bi bi-check"></i> You'll receive a confirmation message indicating that your event has been successfully created.</li>
            </ul>
           
          </div>
        </div>

        <div class="row content">
          <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
            <img src="{{url_for('static',filename='/img/details-4.png')}}" class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
            <h3>Unveil the Magic</h3>
       <!--      <p class="fst-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
              culpa qui officia deserunt mollit anim id est laborum
            </p> -->
            <ul>
              <li><i class="bi bi-check"></i> Buckle up for a ride of delightful surprises as our algorithm works its magic to decide who will be exchanging gifts or surprises with whom. It's the anticipation that makes the journey exciting!</li>

              <li><i class="bi bi-check"></i> Brace yourself for an exhilarating process where we keep the details under wraps until the last moment. The element of surprise is the heart of our game, ensuring every moment is filled with suspense and joy.</li>

              <li><i class="bi bi-check"></i> As the event date approaches, be on the lookout for a notification that will reveal the thrilling information about whom you are set to surprise. It's like unwrapping a gift of anticipation and excitement!</li>

              <li><i class="bi bi-check"></i>Here's the twist – no one, and we mean no one, knows who will be surprising whom until the big reveal. It's the mystery that adds a whole new level of intrigue to your "Randomly Surprised" experience. Get ready to keep everyone guessing!</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

  

  <div id="clients" class="the-clients">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading">
            <h4>Check What <em>The Clients Say</em> About Our App Dev</h4>
            <img src="{{url_for('static',filename='/images/heading-line-dec.png')}}" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eismod tempor incididunt ut labore et dolore magna.</p>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="naccs">
            <div class="grid">
              <div class="row">
                <div class="col-lg-7 align-self-center">
                  <div class="menu">
                    <div class="first-thumb active">
                      <div class="thumb">
                        <div class="row">
                          <div class="col-lg-4 col-sm-4 col-12">
                            <h4>Emily S</h4>
                            <span class="date">30 November 2021</span>
                          </div>
                          <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                            <span class="category">United States</span>
                          </div>
                          <div class="col-lg-4 col-sm-4 col-12">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <span class="rating">4.8</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div class="thumb">
                        <div class="row">
                          <div class="col-lg-4 col-sm-4 col-12">
                            <h4>Alex H</h4>
                            <span class="date">29 November 2021</span>
                          </div>
                          <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                            <span class="category">Canada</span>
                          </div>
                          <div class="col-lg-4 col-sm-4 col-12">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <span class="rating">4.5</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div class="thumb">
                        <div class="row">
                          <div class="col-lg-4 col-sm-4 col-12">
                            <h4>May Catherina</h4>
                            <span class="date">27 November 2021</span>
                          </div>
                          <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                            <span class="category">United Kingdom</span>
                          </div>
                          <div class="col-lg-4 col-sm-4 col-12">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <span class="rating">4.7</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div class="thumb">
                        <div class="row">
                          <div class="col-lg-4 col-sm-4 col-12">
                            <h4>Mike D</h4>
                            <span class="date">24 November 2021</span>
                          </div>
                          <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                            <span class="category">Australia</span>
                          </div>
                          <div class="col-lg-4 col-sm-4 col-12">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <span class="rating">3.9</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="last-thumb">
                      <div class="thumb">
                        <div class="row">
                          <div class="col-lg-4 col-sm-4 col-12">
                            <h4>Jessica W</h4>
                            <span class="date">21 November 2021</span>
                          </div>
                          <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                            <span class="category">New Zealand</span>
                          </div>
                          <div class="col-lg-4 col-sm-4 col-12">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <span class="rating">4.3</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> 
                <div class="col-lg-5">
                  <ul class="nacc">
                    <li class="active">
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="client-content">
                                <img src="{{url_for('static',filename='/images/quote.png')}}" alt="">
                                <p>“Randomly Surprised adds a sprinkle of magic to my friendships! The anticipation of surprises keeps us connected in the most delightful way. Love it!”</p>
                              </div>
                              <div class="down-content">
                                <img src="{{url_for('static',filename='/images/client-image.jpg')}}" alt="">
                                <div class="right-content">
                                  <h4>Emily S</h4>
                                  <span>United States</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="client-content">
                               <img src="{{ url_for('static', filename='/images/quote.png') }}" alt="">
                                <p>“The random assignments make every event unforgettable. I received a surprise from my best friend, and it was truly heartwarming. This platform is a game-changer!”</p>
                              </div>
                              <div class="down-content">
                                <img src="{{url_for('static',filename='/imagesclient-image.jpg')}}" alt="">
                                <div class="right-content">
                                  <h4>Alex H</h4>
                                  <span>Canada</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="client-content">
                                <img src="{{url_for('static',filename='/images/quote.png')}}" alt="">
                                <p>“Joining Randomly Surprised was the best decision. The surprises are genuinely random, and it adds an element of joy to our everyday lives. It's a must-try!”</p>
                              </div>
                              <div class="down-content">
                                <img src="{{url_for('static',filename='/images/client-image.jpg')}}" alt="">
                                <div class="right-content">
                                  <h4>May Catherina</h4>
                                  <span>United Kingdom</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="client-content">
                                <img src="{{url_for('static',filename='/images/quote.png')}}" alt="">
                                <p>“The excitement of not knowing who will surprise me next is addictive! It keeps the friendship spark alive, and every surprise feels like a treasure”</p>
                              </div>
                              <div class="down-content">
                                <img src="{{url_for('static',filename='/images/client-image.jpg')}}" alt="">
                                <div class="right-content">
                                  <h4> Mike D</h4>
                                  <span>Australia</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="client-content">
                                <img src="{{url_for('static',filename='/images/quote.png')}}" alt="">
                                <p>“Randomly Surprised turned our ordinary gatherings into extraordinary moments. The random assignments make every event full of laughter, joy, and surprises!”</p>
                              </div>
                              <div class="down-content">
                                <img src="{{url_for('static',filename='/images/client-image.jpg')}}" alt="">
                                <div class="right-content">
                                  <h4>Jessica W</h4>
                                  <span>New Zealand</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>          
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <footer id="newsletter">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading">
            <h4>Join our mailing list to receive the news &amp; latest trends</h4>
          </div>
        </div>
        <div class="col-lg-6 offset-lg-3">
          <form id="search" action="#" method="GET">
            <div class="row">
              <div class="col-lg-6 col-sm-6">
                <fieldset>
                  <input type="address" name="address" class="email" placeholder="Email Address..." autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-6 col-sm-6">
                <fieldset>
                  <button type="submit" class="main-button">Subscribe Now <i class="fa fa-angle-right"></i></button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>Contact Us</h4>
            <p>Rio de Janeiro - RJ, 22795-008, Brazil</p>
            <p><a href="#">010-020-0340</a></p>
            <p><a href="#">info@company.co</a></p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>About Us</h4>
            <ul>
              <li><a href="#">Home</a></li>
              
              <li><a href="#">About</a></li>
              
              
            </ul>
           
          </div>
        </div>
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>Useful Links</h4>
            <ul>
              <li>
                <a href="#">
                  <div style="display: flex; align-items: center;">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAABK0lEQVR4nLWUTU4CQRCFBxIVDjFjIi7NyHHwBiA7gu50OAOZxHOARwA3Mnf6zItF0rbd8xftpBNSVf3xXldNJ8l/LmAMLIF34ARUka3cHngERjHYrRWugBQY1PzxAMiAtZ2ZhJQpcdfDVQ58/lBqNlcdQbI7td9SunCTurM0cvAaeLCdOfHTGcJ3zc49JMlDD3QJvAEHoLB9BErlvNqhGG6gCigT7MVtjjXjVdBAfRUFmoVDqNMGPbr22wB1X4Ub8/KyP/tL4KYrMDNbMcsf/lRQB7RYaQ3wmyJ120B91WZsSlNaGEjKtsBF09jsawY7tTudNQz/zv+M1knPBTwDczcwsk8p7wG7//U4WGJi0Cez0PR8qUbKBLuJFUrpQvfR4oFVzRy46uqq0/oCPiAXZpWObCkAAAAASUVORK5CYII=">
                  <span style="margin-left: 10px;">Instagram</span>
                </div>
                </a>
              </li>
              <li><a href="#">
                <div style="display: flex; align-items: center;">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAABkUlEQVR4nL3UTUsWYRTGcTXJyiRLqkVrF/W0KpcusjZWK79D2YuRRkRQu0jTj1DLXrcuhaBSaWEW1D5a9EV+ceAEd/PMbWrQwMBwXv5z3XPONT09/+vCMUzjJVbzjuerOLoT0H48wQZm0cFg3p2MRW4B+/4GO4513EDfFnV9uIm16NlKWcAmKvkTmMQUzqEf5xParTSPeb0Ci9xHPMYD/MBI5mYw3zaAjbZjpopl9GZdKPxWAPfg0x+DymnOVtQ9wkUcwBc8xP34REXNHVwpm17hVAX4PHIYx7NKzWm8KAMfMNQoupzK4zijuICVjE03FA7hfdkcSzvYAL7FXDYfyin/hv2Mb1fUHgxRZfNrnGwBTuAsBlJFPI/hc6O2Ey4qA9dwq1EU6p7ie3Hkrxlr1t4OS5aBWIfNytq8KYBLFddsdvkbi/GmXQDnuhY7EwPphsntAnEp7bq3C5gFIwm9G16tAdPH9xJ2pBXWUDqfAwhHvCuAAY9YWC8c1K6sAj6cP9P4qcYOnknXRGx426B/vX4B2/WDhMX9Z2kAAAAASUVORK5CYII=">
                  <span style="margin-left: 10px;">Facebook</span>
                </div>
                
              </a></li>
              <li><a href="#">
                 <div style="display: flex; align-items: center;">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAABcklEQVR4nNXUP0iVURjH8es/FGkVL9kiKE23QlLSwRokMshJaGiJmiwbQikwiAbBxcFBFxFaRGyosCIwMIjCNO4Vh4bGoLlNaGj4xJFzQV7u+/YqOHi253l+53ue9zm/9xQKJ2KhMaeuF8+xhXcYjfk6DKNUFX7Bk//A7mITg2jFGczhI3bxF+eDsIivmMd0rW7RjR0016h1YQV/UA6Js1iOxUl8wsXEpme4ldJ5E6bwC0P788O3xImv4xgeYACruJAxjjVcrQbNeIn7CVExApfwOXxJBnAbDdWghN/4ib7CERYqB4MW/Kg18JywDqwnkxNYCH46AvBO2J9MBmO+jRdx7ZDAzeDJWoUXeIXLh4DdwGJasSs6vpQT1hb1xSxRMPl7fAinZ+hOYQPXs2DtQYA3EdiZojsdfXkzDVTBXnxBZnEpRRcehIdRfyWrs1Y8xvd4MffisPsxgvH465XxKLdfUY8ejGEm+vIpbuNcLshxrH+F8+XADm6d3QAAAABJRU5ErkJggg==">
                  <span style="margin-left: 10px;">Twitter</span>
                </div>
                
              </a></li>
              
          </div>
        </div>
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>About Our Company</h4>
            <div class="logo">
              <img src="{{url_for('static',filename='/images/white-logo.png')}}" alt="">
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="copyright-text">
            <p>Copyright © 2022 Chain App Dev Company. All Rights Reserved. 
          </p>
          </div>
        </div>
      </div>
    </div>
  </footer>


  <!-- Scripts -->
  <script src="{{url_for('static',filename='/vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{url_for('static',filename='/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{url_for('static',filename='/js/owl-carousel.js')}}"></script>
  <script src="{{url_for('static',filename='/js/animation.js')}}"></script>
  <script src="{{url_for('static',filename='/js/imagesloaded.js')}}"></script>
  <script src="{{url_for('static',filename='/js/popup.js')}}"></script>
  <script src="{{url_for('static',filename='/js/custom.js')}}"></script>
</body>
</html>